{% extends "main.html" %}
{% from "partials/channel-entry.html" import render_channel_entry %}

{% set journal_section = page.file.src_uri.split('/')[0] | lower %}

{% block container %}
  <div class="md-content journal-index journal-index--{{ journal_section }}" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset journal-index__intro">
        {{ page.content }}
      </header>
      <div class="journal-index__entries">
        {% for post in posts %}
          {% set post_heading = post.toc | first %}
          {{ render_channel_entry(
            post.config.date.created | date,
            post_heading.title if post_heading else post.post.title,
            post.url | url,
            post.content,
            false,
            true
          ) }}
        {% endfor %}
      </div>
      {% if pagination %}
        {% block pagination %}
          {% include "partials/pagination.html" %}
        {% endblock %}
      {% endif %}
    </div>
  </div>
{% endblock %}
